
<!-- 모바일 9, 10번째 페이지 -->

<!-- Slide 9 -->
<div class="section">
    <div class="slide slide_9">
        <div id="slide_9_contents">
            <div id="slide_9_text">
                현재 서비스 준비 중이며 <br>
                하루 빨리 더욱 더 좋은 플랫폼을 <br>
                만들기 위해 힘쓰고 있습니다. <br>
                성함과 연락처를 남겨주시면 <br>
                론칭 시 연락드리도록 하겠습니다! <br> <br>

                지금까지와는 전혀 다른 방식으로, <br>
                고객님들의 소중한 의견과 관심을 통한 <br>
                새로운 음식점 개업을 도와드리겠습니다. <br> <br>

                앞으로도 소중한 의견과 애정, 그리고 <br>
                지속적인 소통을 통해 발전해 나갈 수 있도록 <br>
                저희 푸디펀드가 함께 하겠습니다.
            </div>
            <div id="slide_9_img" class="slide_img"> </div>
        </div>
    </div>
</div>

<!-- Slide 10 -->
<div class="section">
    <div class="slide slide_10">
        <div id="slide_10_contents">
            <ul class="slide_10_contents_switcher">
                <li> <a id="slide_10_contents_switcher_take" href="javascript:;"> 예비 창업자 </a> </li>
                <li> <a id="slide_10_contents_switcher_give" href="javascript:;"> 예비 후원자 </a> </li>
            </ul>
            <div id="slide_10_contents_input">
                <input type="text" id="slide_10_contents_name" placeholder="이름" autofocus="autofocus" required="required" pattern = "^\D{0,100}$"> </div>
                <div> <input type="email" id="slide_10_contents_email" placeholder="이메일"> </div>
                <div> <input type="text" id="slide_10_contents_phone" placeholder="휴대 전화번호"> </div>
                <div class="slide_10_contents_checkbox">
                    <input type="checkbox" id="slide_10_contents_checkbox" value="agree">
                    <label for="slide_10_contents_checkbox"> </label>
                    <span id="slide_10_contents_checkbox_text"> 개인정보 제공 동의 </span>
                </div>
                <div>
                    <button type="submit" id="slide_10_contents_submit">
                        <img src="/images/mobile/page_10_btn.png">
                    </button>
                </div>
                <div id="slide_10_contents_text">
                    식당 개업을 준비하고 계시는 지인들에게 <br>
                    푸디펀드를 추천해보세요! <br>
                </div>
                <ul id="slide_10_contents_share">
                    <li> <a id="slide_10_contents_share_fb" onclick="share_facebook();"> </a> </li>
                    <li> <a id="slide_10_contents_share_twitter" onclick="share_twitter('지연 트위터 공유 성공', 'http://52.78.143.99:3000/');"> </a> </li>
                    <li> <a id="slide_10_contents_share_kakao" onclick="share_kakaotalk();"> </a> </li>
                    <li> <a id="slide_10_contents_share_link" onclick="share_url('http://52.78.143.99:3000/');"> </a> </li>
                </ul>
            </div>
        </div>
    </div>
</div>